body{
    background: rgb(44, 136, 211);
    
}

.photo {
    border: 1px solid #9c9595;
    border-radius: 50%;
    
}
    #title, .subtitle, .post_title{
        color: #070000
    }

    #title{
        font-size: 40px;
        text-align:center
    }

    .subtitle{
        text-align: center;
        font-size: 40px;
    }

    .post_title{
        font-size: 20px;
        margin: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    .post{
        background-color: #fff;
        padding: 15px;
        border: 3px solid #0c0000;
        margin-bottom: 15px;
        border-radius: 5px;
        font-family: Arial;

    }
    .post_content{
        font-size: 18px;
        margin: 0;
        margin-botton: 15px;
        text-align: justify;
    }
    .post_image{
        margin_bottom: 15px;
        width: 100%;
    }

        .footer{
            text-align: center;
        }